/* 共通 */
body{
    font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
}
h3{
    font-weight: bold;
    font-size: 20px;
}
p{
    font-weight: normal;
}
i{
    color: #000;
}
li{
    list-style: none;
}
.gf{
    font-family: 'Cherry Swash', cursive;
    color: #FFA700;
}
img{
    max-width: 100%;
    height: auto;
    transition: all 0.3s ease 0s;
}
.img-box img:hover{
    opacity: 0.8;
}
a{
    color: #0093FF;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}
a:hover{
    color: #962300;
}
.wrapper{
    width: 100%;
    padding: 0 20px;
}
.section-head{
    text-align: center;
    margin-bottom: 60px;
}
.section-head h2{
    font-size: 48px;
    font-weight: bold;
    line-height: 40px;
    margin-bottom: 10px;
}
.section-head p{
    font-size: 14px;
}

/* 色共通 */
:root{
    --main: #FFA700;
}


/* ぱんくずリスト */
.breadcrumb{
    background-color: #FFF3DD;
    border-bottom: 1px solid #DDDDDD;
    line-height: 20px;
}
.breadcrumb ol,
.path ol{
    font-size: 10px;
}
.breadcrumb ol li,
.path ol li {
    /* liを横並び＆ブレットを消す */
    display: inline;
    list-style-type: none;
}
.breadcrumb ol li:before,
.path ol li:before {
    /* liの前に記号追加 */
    content: " > ";
}
.breadcrumb ol li:first-child:before,
.path ol li:first-child:before {
    /* 最初のliだけcontentを消す */
    content: none;
}

/* 項目のしたのマージンと下線 */
.wrapper-bottom{
    padding-bottom: 60px;
    border-bottom: 1px solid #DDDDDD;
    margin-bottom: 60px;
}

.hide{
    display: none;
}

.fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}

.current{
    border-bottom: 3px solid #FFA700;
}

/* フォーム */
.page-contents{
    margin: 60px 0 60px 0;
}
label {
    font-size: 1.125rem;
    margin-bottom: 20px;
    display: block;
}
input[type="text"],
input[type="email"],
textarea {
    background: rgba(255,255,255,.5);
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
}
input[type="text"],
input[type="email"] {
    width: 100%;
    max-width: 240px;
}
textarea {
    width: 100%;
    max-width: 480px;
    height: 6rem;
}
input[type="submit"] {
    line-height: 1;
}

/* ボタン */
.button {
    cursor: pointer;
    padding: 0;
    height: 32px;
    line-height: 32px;
    width: 150px;
    border-radius: 5px;
    border: 1px solid #FFA700;
    transition: all 0.3s ease 0s;
}
.button:hover {
    background-color: #FFA700;
    color: #fff;
}

/* 余白を開ける */
.blank{
    margin-bottom: 60px;
}


/* ■■■WP Customer Reviews（プラグイン）のレスポンシブ化■■■ */
.wpcr3_div_2{
    width: 100%!important;
}
table.wpcr3_table_2 tr{
    margin-bottom: 10px;
    display: block;
}
.wpcr3_table_2 td{
    display: block!important;
}
.wpcr3_respond_2 input[type="text"],
.wpcr3_respond_2 textarea{
    min-width: auto!important;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
}



/* ヘッダー */
.page-header{
    border-top: 10px solid #FFA700;
    padding-bottom: 10px;
    border-bottom: 1px solid #DDDDDD;
}
.page-header .gf a{
    color: #000;
    font-size: 28px;
    font-weight: normal;
    transition: all 0.3s ease 0s;
}
.page-header .gf a:hover{
    color: var(--main);
    font-size: 30px;
    font-weight: bold;
}
.page-header p{
    font-size: 10px;
    color: #A8A8A8;
}
.header-gnav{
    background: rgba(0,0,0,0.85);
    display: none;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0px;
    left: 0px;
}
.header-gnav ul{
    align-items:center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: absolute;
    width: 100%;
}
.header-gnav a{
    display: block;
    color: #fff;
    height: 60px;
    line-height: 60px;
    transition: .5s;
}
.header-gnav a:hover{
    color: #FFA700;
}


/* ハンバーガーメニュー */
.menu{
    cursor: pointer;/* マウスが乗った時に指マーク */
    width: 20px;
    display: block;/* PC版で消したから出す */
    position: absolute;
    top: 30px;/* 右側にレスポンシブになって欲しいので左からカウントしない事 */
    right: 20px;
    z-index: 101;
}
.menu .border{/* 1つのタグで可能 */
    display: block;
    width: 20px;
    height: 3px;
    background: #000;
    transition: all .2s;/* メニュー変形のアニメーション設定 */
}
.menu .border + .border{
    margin-top: 5px;/* 隣接セレクター */
}

/* ハンバーガーメニューの変形 */
.menu.on{
    position: fixed;
}
.menu.on .border{
    background: #fff;
}
.menu.on .border:nth-of-type(1){
    transform: translate(0,8px) rotate(45deg);/* 1本目を移動して45度回転 */
}
.menu.on .border:nth-of-type(2){
    opacity: 0;/* 消す→不透明度 */
}
.menu.on .border:nth-of-type(3){
    transform: translate(0,-8px) rotate(-45deg);/* 3本目を移動して45度回転 */
}


/* ◾️◾️◾️　ローディング画面　◾️◾️◾️ */
/* ローディング画面 */
#loading {
    width: 100vw;
    height: 100vh;
    transition: all 1s;
    background-color: var(--main);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
  }
  .spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    margin: 200px auto;
    background-color: #fff;
    border-radius: 100%;
    animation: sk-scaleout 3.0s infinite ease-in-out;
  }
  .loaded {
    opacity: 0;
    visibility: hidden;
  }
  /* ローディングアニメーション */
  @keyframes sk-scaleout {
    0% {
      transform: scale(0);
    } 100% {
      transform: scale(1.0);
      opacity: 0;
    }
  }


/* トップコンテンツ */
.main{
    position: relative;
    height: 300px;
}

/* 現在地から検索 */
.map{
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 350px;
    overflow: hidden;
}
.box-area_1{
    position: absolute;
    top: 0;
    width: 100%;
}

/* 吹き出し */
.main .balloon,
.main .balloon-freeword{
    position: absolute; /* 三角の位置を固定するために設定 */
    top: 45%;
    left: calc(50% - 150px);
    width: 300px; /* 幅 */
    padding: 5px; /* ふきだし内の余白 */
    background: #fff; /* 背景色 */
    font-size: 12px;
    text-align: center;
    border-radius: 5px; /* <-追加 */
    box-shadow: 0px 3px 20px rgba(0,0,0,0.16);
}
.main .balloon i{
    color: #FFA700;
}
.main .balloon::before,
.main .balloon-freeword::before{ /* 三角の部分 */
    content: '';
    position: absolute; /* 位置固定 */
    bottom: -28px; /* 線幅の2倍 */
    left: 50%;
    margin-left: -14px; /* 線幅だけずらす */
    border: 14px solid transparent; /* 線幅の設定 */
    border-top-color: #fff; /* 吹き出しの地と同じ色 */
}
.search-contents{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main .balloon .cancel{
    display: flex;
    position: absolute;
    right: 10px;
    top: 2px;
    font-size: 16px;
    cursor: pointer;
}

.area_1,
.area_2,
.area_3,
.area_4,
.store-top01,
.store-top02,
.store-top03,
.store-top04{
  display:none;
}
.active{
  display:block;
}
.clear{
  clear:both;
}



/* ■■■地図で検索■■■ */
.box-area_2{
    position: absolute;
    top: 0;
    width: 100%;
}

/* 検索エリア */
.search-area ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0;
    /* justify-content: center;
    align-items: center; */
    text-align: center;
}
.search-area li{
    padding: 10px 0;
    border: 1px solid #DDDDDD;
    transition: all 0.3s ease 0s;
}
.search-area span{
    font-size: 10px;
    color: #000;
    transition: all 0.3s ease 0s;
}
.search-area li:hover,
.search-area li:hover > a > .gf,
.search-area li:hover > a > p > span{
    background-color: #FFA700;
    color: #fff;
}
.search-area .active,
.search-area .active > a > .gf,
.search-area .active > a > p > span{
    background-color: #FFA700;
    color: #fff;
}
.search-area .gf{
    font-size: 20px;
    transition: all 0.3s ease 0s;
}
.search-area p{
    line-height: 20px;
}


/* Top3エリア */
.top3-box .rank{
    font-size: 10px;
    color: #fff;
    display: flex;
    width: 30px;
    height: 30px;
    background-color: #FFA700;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.top3-box .box{
    padding: 10px;
    margin: 20px 10px;
    border: 1px solid #DDDDDD;
    box-shadow: 0px 3px 20px rgba(0,0,0,0.16);
    height: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    outline: 10px solid #fff;
    outline-offset: -10px;
    transition: all 0.3s ease 0s;
}
.top3-box .box:hover{
    box-shadow: 0px 0px 4px rgba(0,0,0,0.16);
}
.top3-box .img-box{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 10px;
}
.top3-box .img-box .img,
.top3-box .img-box .img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    /* 国選択エリアのボックスにも効いてる */
    
}
.top3-box .big-box{
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}
.top3-box a{
    color: #000000;
}
.top3-box .box:hover{
    cursor: pointer;
    opacity: 0.8;
}





/* レートの星 */
.rating{
    display: flex;
    font-size: 20px;
    color: #FFA700;
}
.rating-star{
    margin-right: 6px;
}
.rating .rating-val{
    color: #000;
    font-size: 16px;
    display: contents;
}
.top3 .box h3{
    margin-bottom: 5px;
}
.top3 .section-lead{
    font-size: 14px;
}



/* 国選択エリア */
.select-country .box{
    padding: 10px;
    margin: 20px 10px;
    border: 1px solid #DDDDDD;
    box-shadow: 0px 3px 20px rgba(0,0,0,0.16);
    height: 360px;
    overflow: hidden;
    text-overflow: ellipsis;
    outline: 10px solid #fff;
    outline-offset: -10px;
    transition: all 0.3s ease 0s;
}
.select-country .box:hover{
    opacity: 0.8;
    cursor: pointer;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.16);
}
.select-country .img-box{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
}
.select-country .img-box .img,
.select-country .img-box .img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    min-height: 100px;
    max-height: 200px;
}
.select-country h3{
    font-size: 24px;
    color: #000;
    border-bottom: 1px dotted #DDDDDD;
    margin-bottom: 20px;
}
.select-country p{
    font-size: 14px;
    margin-bottom: 10px;
}
.select-country a{
    color: #000;
}




/* 最新の口コミエリア */
.new-reviews{
    margin-bottom: 60px;
}
.new-reviews-box{
    display: flex;
    margin-bottom: 20px;
}
.new-reviews-box .reviewer{
    flex-basis: 100px;
}
.new-reviews-box img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}
.new-reviews-box .reviewer p{
    font-size: 8px;
}
/* 吹き出し */
.new-reviews-box a{
    display: block;
    color: #000;
}
.new-reviews-box .balloon {
    float: left;
    position: relative; /* 三角の位置を固定するために設定 */
    width: 100%; /* 幅 */
    padding: 10px; /* ふきだし内の余白 */
    background: #fff; /* 背景色 */
    border-radius: 5px; /* <-追加 */
    box-shadow: 0px 3px 20px rgba(0,0,0,0.16);
    transition: all 0.3s ease 0s;
}
.new-reviews-box .balloon:hover{
    box-shadow: 0px 0px 4px rgba(0,0,0,0.16);
}
.new-reviews-box .balloon::before { /* 三角の部分 */
    content:'';
	position:absolute;
	width:0;
	height:0;
	left:-28px;
	top:28px;
	border-left:14px solid transparent;
	border-top:14px solid transparent;
	border-bottom:14px solid transparent;
	border-right:14px solid  #fff;
}
.new-reviews-box dt,
.new-reviews .path li,
.new-reviews .balloon p{
    font-size: 10px;
}
.new-reviews .balloon h3{
    font-size: 16px;
    border-bottom: 1px dotted #DDDDDD;
    margin-bottom: 5px;
}




/* フッターエリア */
.page-footer{
    background-color: #FFA700;
}
.sns-list ul{
    display: flex;
    justify-content: center;
    font-size: 20px;
}
.sns-list li{
    margin: 10px 20px;
}
.page-footer .footer-nav ul{
    display: flex;
    justify-content: center;
    font-size: 12px;
    text-align: center;
    margin-bottom: 20px;
}
.page-footer .footer-nav a{
    color: #000;
    margin: auto 10px;
}
.page-footer small{
    display: flex;
    font-size: 8px;
    justify-content: center;
    padding-bottom: 5px;
}



/* フッター追跡トップ戻るボタン */
#pageTop {
    position: fixed;
    bottom: 60px;
    right: 20px;
}
#pageTop i {
    color: #707070;
}
#pageTop a {
    display: block;
    z-index: 50;
    font-size: 30px;
}



/* フッター追従グロナビ */
.l-footer{
    height: 48px;
    box-shadow: 0px 3px 20px rgba(0,0,0,0.16);
    background-color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 9;
}
.controllerFooter ul{
    display: flex;
    align-items: center;
    height: 48px;
}
.controllerFooter li{
    text-align: center;
    width: calc( 100% / 5 );
    height: 48px;
    padding-top: 6px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.controllerFooter li:hover{
    background-color: var(--main);
}
.controllerFooter li:nth-child(3){
    background-color: var(--main);
}
.controllerFooter i{
    font-size: 20px;
    color: #707070;
}
.controllerFooter p{
    font-size: 10px;
    color: #707070;
}
.controllerFooter a{
    display: block;
}



/* フッター追従グロナビメニュー */
/* snsシェアボタン */
.footer-share-list{
    display: none;
}
.footer-share-list.on{
    background: rgba(0,0,0,0.85);
    height: 100%;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.footer-share-list.on ul{
    display: flex;
    align-items:center;
    justify-content: center;
    height: 100%;
    position: absolute;
    width: 100%;
    font-size: 20px;
}
.footer-share-list.on li{
    margin: 20px;
}
.footer-share-list.on a{
    line-height: 1;
    color: #fff;
    transition: all 0.3s ease 0s;
}
.footer-share-list.on a:hover{
    color: #FFA700;
}
.footer-share-list.on .footer-share-list-close{
    position: absolute;
    bottom: 78px;
    width: inherit;
    text-align: center;
}
.footer-share-list.on i{
    color: #fff;
    transition: .5s;
    cursor: pointer;
}
.footer-share-list.on i:hover{
    color: #FFA700;
}

/* フリーワード検索ボタン */
.footer-freeword-list{
    display: none;
}
.footer-freeword-list.on{
    background: rgba(0,0,0,0.9);
    height: 100%;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 9999;
}
.footer-freeword-list.on ul{
    display: flex;
    align-items:center;
    justify-content: center;
    height: 100%;
    position: absolute;
    width: 100%;
}
.footer-freeword-list.on .footer-freeword-list-close{
    position: absolute;
    bottom: 78px;
    width: inherit;
    text-align: center;
    line-height: 1;
    color: #fff;
    transition: all 0.3s ease 0s;
}
.footer-freeword-list.on .footer-freeword-list-close:hover{
    color: #FFA700;
}

/* 周辺検索ボタン */
.footer-location-list{
    display: none;
}
.footer-location-list.on{
    background: rgba(0,0,0,0.85);
    height: 100%;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 999;
}
.footer-location-list.on ul{
    display: flex;
    align-items:center;
    justify-content: center;
    height: 100%;
    position: absolute;
    width: 100%;
}
.footer-location-list.on a{
    line-height: 1;
    color: #fff;
    transition: all 0.3s ease 0s;
}
.footer-location-list.on a:hover{
    color: #FFA700;
}
.footer-location-list.on .footer-location-list-close{
    position: absolute;
    bottom: 78px;
    width: inherit;
    text-align: center;
    /* line-height: 1;
    color: #fff; */
}
.footer-location-list.on .footer-location-list-close:hover{
    color: #FFA700;
}



/* 国から探すページ */
/* メイン画面 */
.search-contents .country-name{
    position: absolute;
    top: 40px;/* Boxサイズ300px - ulの縦幅220px　を2で割 */
    left: calc(50% - 143.5px);/* ulの横幅半分 */
}
.main .slider img{
    object-fit: cover;
    /* height: 300px; */
    width: 100%;
    height: 300px;
}



.search-contents .country-name ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    text-align: center;
}
.search-contents .country-name li{
    box-shadow: 0px 3px 20px rgba(0,0,0,0.16);
    border-left: 5px solid #FFA700;
}

.search-contents .country-name a{
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    color: #000;
    background-color: rgba(255,255,255,0.8);
    transition: all 0.3s ease 0s;
}
.search-contents .country-name a:hover{
    color: #fff;
    background-color: #FFA700;
}




/* ■■■地域で探す タイ■■■ */
.area-tag-cloud .path{
    margin-bottom: 20px;
}
.area-tag-cloud .description p{
    margin-bottom: 20px;
}
.area-tag-cloud ul{
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.area-tag-cloud li{
    margin: 5px 10px 5px 0;
}
.area-tag-cloud a:hover{
    background-color: #FFA700;
    color: #fff;
}
.area-tag-cloud ul a{
    display: inline-block;
	padding: 10px;
	line-height: 1;
	text-decoration: none;
    color: #000000;
    font-size: 12px;
	background-color: #fff;
	border: 1px solid #FFA700;
    border-left: 5px solid #FFA700;
    transition: all 0.3s ease 0s;
}


/* ■■■フリーワード検索■■■ */
.main .search-contents .balloon-freeword form{
    display: flex;
    justify-content: space-between;
}
.main .search-contents .balloon-freeword input{
    width: 100%;
    margin: auto 5px;
}
.main .search-contents .balloon-freeword button{
    margin: auto 5px;
}
.main .search-contents .balloon-freeword input[type="text"]{
    border: none;
    font-size: 14px;
    padding: 0;
}



/* ■■■タイ トップ■■■ */
.country-hero-name p{
    position: absolute;
    top: 50%;
    left: 50%;
    /*　↓　文字の中心へ*/
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    /*　↑　文字の中心へ*/
    margin:0;
    padding:0 20px;
    color: #000;
    font-size: 50px;
    /* text-shadow: 0px 3px 20px rgba(0,0,0,0.16); */
    /* background-color: rgba(255,255,255,0.8); */
    background-color: #fff;
    opacity: 0.6;
}
.sec-food img{
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    margin-bottom: 10px;
}
.sec-food h3{
    margin-bottom: 10px;
    font-size: 24px;
}
.sec-food p{
    line-height: 40px;
}
.sec-food .sec-box{
    margin-bottom: 60px;
}

.area-search .area-tag-cloud{
    position: relative;
    max-height: 300px;
    min-height: 150px;
    padding: 10px;
    margin: 20px 10px;
    border: 1px solid #DDDDDD;
    box-shadow: 0px 3px 20px rgba(0,0,0,0.16);
    overflow: hidden;
}
.area-search .area-tag-cloud ul{
    /* height: 250px; */
    margin-bottom: 40px;
    overflow: hidden;
}
.area-search .area-tag-cloud ul::after{
    position: absolute;
    z-index: 1;
    bottom: 0;
    width: 100%;
    height: 100px; /*グラデーションで隠す高さ*/
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 20%, rgba(255,255,255,0.9) 20%, #fff 100%);
    background: linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 20%, rgba(255,255,255,0.9) 20%, #fff 100%);
    content: "";
}
.area-search .area-tag-cloud .view-all{
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 50%;
    /*　↓　文字の中心へ*/
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    /*　↑　文字の中心へ*/
    margin-bottom: 0;
}


/* ■■■バンコク ＞ トップ■■■ */
.new-reviews-box.is-hidden{
    display: none;
}
.new-reviews-box .view-more{
    text-align: center;
    margin-top: 20px;
}
.new-reviews .view-more {
    text-align: center;
    margin-top: 20px;
}


/* ■■■子カテゴリー（親カテゴリー以外）■■■ */
.child-category{
    margin: 30px auto;
}
.child-category .box{
    padding: 10px;
    margin: 20px 10px;
    border: 1px solid #DDDDDD;
    box-shadow: 0px 3px 20px rgba(0,0,0,0.16);
}
.child-category .img-box{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 10px;
}
.child-category .img-box .img,
.child-category .img-box .img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}


/* ■■■店舗情報トップ■■■ */
.store-head{
    margin: 30px 0;
}
.store-title{
    margin-bottom: 30px;
}

/* 新規投稿ボタン */
.to-post{
    width: 100%;
}
.to-post a{
    cursor: pointer;
    padding: 10px 30px;
    height: 32px;
    line-height: 32px;
    width: auto;
    border-radius: 5px;
    background-color: #FFA700;
    color: #000;
    transition: all 0.3s ease 0s;
}
.to-post a:hover{
    opacity: 0.9;
    color: #fff;
}

/* 店舗情報トップ写真 */
.store-top-photo{
    margin: 60px 0;
}
.store-top-photo .img-box{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 10px;
}
.store-top-photo .img-box .img,
.store-top-photo .img-box .img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.store-top-photo .big-box{
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}


/* ヘッダー追従グロナビ */
.l-header{
    box-shadow: 0px 3px 20px rgba(0,0,0,0.16);
    background-color: #A6D16B;
    margin-bottom: 60px;
}
.controllerHeader ul{
    display: flex;
    align-items: center;
    height: 30px;
}
.controllerHeader li{
    text-align: center;
    width: calc( 100% / 4 );
    border-right: 1px dotted #000;
    transition: all 0.3s ease 0s;
}
.controllerHeader li:hover{
    border-bottom: 3px solid #FFA700;
}
.controllerHeader li:last-child{
    border-right: none;
}
.controllerHeader a{
    display: block;
    color: #000;
    line-height: 2;
    height: auto;
    font-size: 12px;
}

/* 店舗情報テーブル */
.info-table {
    border-collapse:collapse;/* trにボーダーを引く為に必要 */
    width: 100%;
    border: 1px solid #707070;
}
.info-table td,
.info-table tr{
    display: block;
}
.info-table tbody tr{
    border-bottom: 1px solid #707070;
}
.info-table tbody tr:nth-child(1){
    background-color: #B7B7B7;
    color: #fff;
}
.info-table td{
    padding: 5px 0 5px 5px;
}
.info-table .table-map{
    padding: 0;
}
.info-table .contents {
    font-weight: bold;
    background-color: #DDDDDD;
}

/* 店舗情報切り替え04（地図） */
.store-top04 .info-table{
    margin-bottom: 60px;
}
.store-top04 .info-table .contents{
    color: #000;
}


/* 高評価の口コミエリア */
.high-rating-reviews{
    margin: 0;
}

.view-all{
    text-align: center;
    margin-bottom: 60px;

    display: none;
}
.view-all a{
    cursor: pointer;
    padding: 10px 30px;
    height: 32px;
    line-height: 32px;
    width: auto;
    border-radius: 5px;
    border: 1px solid #FFA700;
    color: #707070;
    transition: all 0.3s ease 0s;
}
.view-all a:hover{
    background-color: #FFA700;
    color: #fff;
}


/* 店舗写真一覧(ギャラリー) */
.store-gallery{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    margin: 60px auto;
}
.store-gallery .img-box{
    object-fit: cover;
    width: 100%;
    height: 100%;
}


/* ■■■店舗口コミ一覧■■■ */
.store-reviews{
    margin: 60px 0;
}

/* ■■■店舗地図エリア■■■ */
.store-map{
    margin: 60px 0;
}


/* ■■■検索結果表示■■■ */
.search-results{
    margin: 60px auto;
}
.search-results h2{
    margin-bottom: 20px;
}
.search-results li{
    display: block;
    line-height: 30px;
}
.search-results .searchbox{
    margin: 20px 0;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
}

.search-results .box{
    display: grid;
    gap: 10px;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: 100px 1fr 1fr;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #DDDDDD;
    box-shadow: 0px 3px 20px rgba(0,0,0,0.16);
    transition: all 0.3s ease 0s;
}
.search-results .box:hover{
    box-shadow: 0px 0px 4px rgba(0,0,0,0.16);
}
.search-results .img-box .img,
.search-results .img-box .img img{
    object-fit: cover;
    width: 100%;
    /* height: 100%; */
    height: 100px;
}
.search-results .box a{
    grid-column: 2 / 4;
    color: #000;
}
.search-results .box p{
    font-size: 14px;
}
.search-results .box span{
    font-size: 10px;
}



/* ↓↓↓　ブレークポント　↓↓↓ */
/* 768px以上でブレークiPad~ */
@media screen and (min-width: 768px) {
    /* 共通 */
    .wrapper{
        max-width: 1170px;
        width: 100%;
        padding-left: 10%;
        padding-right: 10%;
        margin-right: auto;
        margin-left: auto;
    }
    .wrapper-bottom-can{
        padding-bottom: 0;
        border-bottom: none;
        margin-bottom: 0;
    }



    /* プラグイン */
    /* GeoMashup */
    /* .gm-map,
    .gm-map iframe{
        height: 100% !important;
    } */

    /* グーグルマップスイージー */
    .gmpMapDetailsContainer{
        height: 100%;
    }


    /* ハンバーガーメニュー */
    .menu{
        display: none;
    }

    /* ヘッダー */
    .page-header{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .page-header-box{
        display: flex;
        justify-content: space-between;
        white-space: nowrap;
    }
    .logo{
        display: inline-block;
    }
    .header-gnav{
        display: inline-block;
        position: static;
        width: 100%;
        background: none;
    }
    .header-gnav ul{
        flex-direction: unset;
        justify-content: flex-end;
        position: static;
    }
    .header-gnav li{
        text-align: center;
        width: auto;
        margin-left: 5%;
    }
    .header-gnav a{
        color: #000;
        position: relative;
    }

    .header-gnav a:before {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 7px;/*線の上下位置*/
        display: inline-block;
        width: 40px;/*線の長さ*/
        height: 5px;/*線の太さ*/
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);/*位置調整*/
        background-color: var(--main);/*線の色*/
        border-radius: 2px;/*線の丸み*/
      }
    .header-gnav a::after {
        position: absolute;
        bottom: 7px;
        left: 0;
        content: '';
        width: 100%;
        height: 5px;
        background: var(--main);
        transform: scale(0, 1);
        transform-origin: center top;
        transition: transform .3s;
    }
    .header-gnav a:hover::after {
        transform: scale(1, 1);
    }

    /* メイン */
    .main{
        height: 600px;
        margin-bottom: 60px;
    }
    .main .slider img{
        height: 600px;
    }
    .search-area{
        position: absolute;
        top: 141px;
        left: 0;
        display: flex;
    }
    .search-area ul{
        display: block;
        width: 150px;
    }
    .search-area li{
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        margin-bottom: 6.5px;
    }
    .search-area li:nth-last-child(){
        margin-bottom: 0;
    }
    .search-area .gf {
        font-size: 26px;
        margin-bottom: 10px;
    }
    .search-area span {
        font-size: 12px;
    }

    .search-contents{
        max-width: 470px;
        min-width: 320px;
        top: -600px;
        left: 150px;
        position: relative;
        background-color: #fff;
        height: 500px;
        margin-top: 50px;
        z-index: 99;
        padding: 10px;
        border: 1px solid #DDDDDD;
        width: auto;
        margin-left: 10%;
    }
    .area_1 .search-contents,
    .area_2 .search-contents{
        top: unset;
    }
    .main .balloon,
    .main .balloon{
        z-index: 150;
        left: 240px;
        margin-left: 10%;
    }

    .section-head h2 {
        font-size: 60px;
        margin-bottom: 30px;
    }
    .section-head p {
        font-size: 18px;
    }


    /* 現在地から検索 */
    .box-area_1,
    .box-area_2{
        position: static;
        top: unset;
        height: 100%;
        display: flex;
        align-items: center;
    }


    /* 国地域で検索 */
    .search-contents .country-name{
        position: static;
        height: 100%;
        display: flex;
    }
    .search-contents .country-name ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }
    .search-contents .country-name li{
        box-shadow: 0px 0px 1px rgba(0, 0, 0, 1);
    }

    /* フリーワード検索 */
    .search-contents .balloon-freeword{
        position: static;
        width: 100%;
        box-shadow: none;
    }



    /* ■■■検索結果表示■■■ */
    .search-results .box{
        grid-template-columns: 150px 1fr 1fr;
        gap: 20px;
    }
    .search-results .img-box .img,
    .search-results .img-box .img img{
        height: 150px;
    }
    .search-results .box p{
        font-size: 18px;
    }
    .search-results .box span{
        font-size: 14px;
    }
}
